@import "tailwindcss";

@theme{
  /* color */
  --color-cozywhite: #f5eee6;
  --color-skintone: #f0dece;
  --color-muted: #111;
  --color-border: #333 ;

  --font-tusker: var(--font-tusker-family), sans-serif;
  --font-neue: var(--font-neue-family), sans-serif;
  --font-migra: var(--font-migra-family), sans-serif;
  --font-maelstrom: var(--font-maelstrom-family), sans-serif;
}

html{
  scroll-behavior: smooth;
}

@keyframes ascend {
  from {
    opacity: 0;
    transform: translateY(25px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-ascend {
  animation: ascend 0.5s ease-out forwards;
}

/* component custom styles */
@layer components {
  .heading-style {
    @apply uppercase text-cozywhite font-tusker sm:text-[15rem] text-[7.5rem] font-medium whitespace-nowrap will-change-transform;
  }
  .h2--uppercase {
    @apply font-bold font-neue text-white sm:text-[1.7rem] text-sm;
  }
  .h3--uppercase {
    @apply font-bold font-neue text-white sm:text-lg text-sm uppercase
  }
}

/* hovered button animation */
@layer utilities {
  .marquee-inner {
  width: fit-content;
  display: flex;
  transform: translateX(0);
  animation: marquee 3s linear infinite;
  animation-play-state: paused;
  opacity: 0;
}

button:hover .marquee-inner {
  animation-play-state: running;
  animation-name: marquee, fade-in;
  animation-duration: 3s, 0.6s;
  animation-timing-function: linear, ease;
  animation-iteration-count: infinite, 1;
  opacity: 1;
}

button:hover > span {
  opacity: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 10;
  left: 0;
  background-color: var(--color-cozywhite);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}


/* Colorize-zoom Container */
.img-hover-zoom {
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform 1s, filter 0.5s ease-in-out;
  filter: grayscale(1) sepia(1) saturate(0.5) contrast(0.6) brightness(0.8);
}

/* The Transformation */
.img-hover-zoom:hover img {
  filter: none;
  transform: scale(1.04);
}

.bento-card {
  background-color: var(--color-muted);
  border-radius: 12px;
  border: 1px solid var(--color-border);
}

.hover-circle{
  top: calc(var(--spacing) * 2) ;
  border-style: var(--tw-border-style);
  border-width: 2px;
  border-radius: var(--radius-2xl);
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
  z-index: 2;
}

.hover-circle:hover{
  background-color: rgb(53, 53, 53);
  transition: background-color 0.3s ease-in-out;
}

.tech-stack{
  border-radius: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.25em;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  .tech-stack {
    font-size: 0.7rem;
  }
}